# Ignore Python bytecode
**/__pycache__/
*.py[cod]
*$py.class


# API and Authentication tokens
SMTplugins/GoogleTasks/token.json
token_cal.json
SMTplugins/ArrivingToday/token.json
SMTplugins/Calendar/token_cal.json

# Cached calendar data
calendar_events.json
