<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smarthome Terminal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!--<center>
        <h1>Hello This is the placeholder for the <b>index.html</b></h1>
    </center>
-->
    <div class="grid-container">
        <div class="clock-widget">
            <span id="clock">Loading...</span>
        </div>

        <div class="temp-sensor-widget">
            <span id="temp">Loading...</span>
        </div>

        <div class="grid-box">Box 3</div>
        <div class="grid-box">Box 4</div>
        <div class="grid-box">Box 5</div>
        <div class="grid-box">Box 6</div>
        <div class="grid-box">Box 7</div>
        <div class="grid-box">Box 8</div>
        <div class="grid-box">Box 9</div>
    </div>
</body>

</html>

<script>
    
</script>

</body>